@media screen and (min-width: 1280px) {
   .Home-con{
      background: #FFFFFF;
    }
    .form{
       position: relative;
       background: rgba(55, 55, 63, 0.04);
       background-color: rgba(55, 55, 63, 0.04) ;
       height: 31.7em;
       width: 36em;
       margin: auto;
       align-items: center;
       justify-content: center;
    }
    .personalInfo{
      position: relative;
      display: flex;
      gap: 1em;
      margin-bottom: 1em;
      top: 2em;
      left: 2.5em;
    }
    .email{
      width: 10em !important;
    }
  .emaildiv{
    position: relative;
    left: 2.5em;
    top: 1.5em;
  }
  .mail{
    width: 30em;
  }
    .numbers{
      position: relative;
      display: flex;
      gap: 1em;
      margin-bottom: 2em;
      top: 2em;
      left: 2.5em;
    }
    .dropdowns{
       position: relative;
       display: block;
       gap: 2em;
    }
    .imageSlider{
      position: relative;
      bottom: 23.7em;
     left: 36em;
    }
    .image-gallery-slide .image-gallery-image{
      width: 40% !important;
    
    }
    .image-gallery-slide {
      width: 87% !important;
    }
    .image-gallery-content .image-gallery-slide .image-gallery-image{
      max-height: 20 !important;
    }
   /* .slider{
      height: 10em !important;
      width: 10em !important;
   } */
    @import "~react-image-gallery/styles/css/image-gallery.css";
   
    .formHeader{
       position: relative;
       text-align: center;
    
    }
    .logo{
       height: 4em;
       position: relative;
       
    }
   .costTypo{
      position: relative;
      left: 2em;
   } 
    .unitTypo{
      position: relative;
      left: 3em; 
   }
    .btnReg{
       position: relative;
       justify-items: center;
       top: 1em;
       left: 30%;
       background-color: #4166f5 !important;
       color: #FFFFFF !important; 
    }
    .label{
      position: relative !important;
      left: 3em !important;
    
    }
    .label2{
      position: relative !important;
      left: 3em !important;
     
 
    }
    .resAdd{
      position: relative;
      margin-bottom: 1em;
    }
    .dropdowns{
      position: relative;
      bottom: 2em;
    }
    .dropdown{
       position: relative;
       left: 2em;
   
       width: 32em !important;
      
    }
    .dropdown2{
       position: relative;
       left: 2.5em;
       bottom: 0.5em;
       width: 32em !important;
     
    }
}
.typo{
  position: relative;
  display: flex;
  gap: 0.5em;
  justify-content: center;
}
.formHeader2{
  color: blue !important;
}
 @media screen and (max-width: 1280px) {
  .logo{
    height: 4em;
    position: relative;
    
 }

  .form{
    position: relative;
    left: 1em;
    background-color: rgba(55, 55, 63, 0.04) ;
  }
   .imageSlider{
      position: relative;
      right: 20em;
      width: 100px !important;
    }
    .dropdown{
        max-width: 21.5em !important;
        right: 0.5em;
    }
    .dropdown2{
        max-width: 21.8em !important;
        right: 0.1em;
    }
 }